.map-container{
    width:100%;
    height:calc(100vh - 90px);
}

.try{
position: relative;
}

.box{
    position: absolute;
    z-index: 999;
    width:80%;
    height:40px;
    top:5%;
    left:50%;
    transform: translate(-50%,0);
    &::before{
        z-index: 999;
        content: '';
        top:50%;
        transform: translate(0,-50%);
        left:13px;
        width:20px;
        height:20px;
        background-image: url('https://i.imgur.com/H4QPxLR.png');
        background-size: cover;
        position: absolute;
    }
}
.search{
    z-index: 99;
    left:50%;
    height:40px;
    width:100%;
    padding: 10px 10px 10px 35px;
    border-radius:20px;
    border: 2px solid var(--5-gray);
    
}
.suggestion{
    background-color:var(--white);
    position: absolute;
    z-index: 99;
    left:50%;
    transform: translate(-50%,0);
    top:calc(5% + 40px);
    width:80%;
    padding: 10px;
    &__item{
        margin:15px;
    }
}
.locateCurrentButton{
    position: absolute;
    z-index: 99;
    background-color:var(--primary-color);
    border-radius: 50%;
    width:45px;
    height:45px;
    right:40px;
    bottom:120px;
    &__icon{
        position: absolute;
        width:30px;
        height:30px;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        background-image: url('https://i.imgur.com/GViqSJ0.png');
        background-size: cover;

    }

}

.loadingBg{
    position: relative;
    z-index: 1000;
    width:100%;
    height:100%;
    background-color: blue;
}


@media(min-width:750px){
    .map-container{
        left: 65px;
        width:calc(100% );
        height:100vh
    }
    
    .locateCurrentButton{
        right:80px;
        width:70px;
        height:70px;
        &__icon{
            width:50px;
            height:50px;
        }
    }
    .box{
        width:70%;
        left:calc(50% + 50px);
    }
    .suggestion{
        left:calc(50% + 50px);
        width:70%;
    }
}