
    .nav-phone{
        z-index: 999;
        position: fixed;
        bottom: 0;
        height:90px;
        left:50%;
        transform: translate(-50%,0);
        background-color:var(--4-gray);
        &__panel{
            height:100%;
            &__item{
                &__icon{
                    width:30px;
                    height:30px;
                }
            }
        }
    }
    .nav-desk{
        display: none;
    }

@media (min-width:750px){
    .nav-phone{
        display:none;
    }
    .nav-desk{
        position: relative;
        height:100%;
        display: initial;
        top:0;
        z-index: 999;
        bottom: 0;
        left:0;
        width:200px;
        &__panel{
            height:100%;
            width:80px;
            background-color:var(--4-gray);
            &__item{
                &__icon{
                    width:30px;
                    height:30px;
                }
            }
        }

    }

}


