
    .nav-phone{
        z-index: 999;
        position: fixed;
        bottom: 0;
        height:90px;
        left:50%;
        transform: translate(-50%,0);
        background-color:var(--5-gray);
        &__item{
            &__icon{
                width:30px;
                height:30px;
            }
        }
    }

    /*.nav__desk{
        display: none;
        width:100%;
        height:90px;
        background-color:blue;
        &__panel{
            background:green;
        }
    }*/

