.bg{
    position: relative;
    z-index:1001;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

.report{
    position: absolute;
    width:70%;
    z-index: 1000;
    background-color: var(--white);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    &__header{
       margin-bottom: 10px;

       &__title{
           flex:1;
           margin-left:20px;
       }
        &__close{
            width:20px;
            height:20px;
        }
    }
    &__text{
        border:none;
        border-top: 1px solid var(--5-gray);
        border-bottom: 1px solid var(--5-gray);
        font-size:16px;
    }
    &__btn{
        margin-top: 10px;
        background-color: var(--primary-color);
        color:var(--white);
        height:30px;
        &:disabled{
            background-color: var(--5-gray);
        }
    }
}

@media(min-width:750px){
    .report{
        width:50%;
        
    }
}